<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Game</title>
    <link rel="stylesheet" href="../bootstrap-5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap-5.3.2/dist/js/bootstrap.bundle.js">
    <link rel="stylesheet" href="../node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../bootstrap-5.3.2/dist/css/bootstrap-reboot.min.css">
</head>

<body class="bg-color d-flex flex-row justify-content-between gap-3 p-3 mw-100 min-vh-100">
    <nav
        class="bg-box border border-dark box-shadow-white br-3 text-light py-4 px-3 w-20 d-flex flex-column justify-content-between vh-95">
        <div class="d-flex flex-column">
            <div onclick="loadHomePage(event)" class="fs-icon-logo d-flex flex-row align-items-center gap-2" style="cursor: pointer;">
                <i class="bi bi-controller"></i>
                <p class="fw-bold m-0 poetsen-one-regular">PLAY</p>
            </div>
            <div class="pt-3 d-flex flex-column gap-1">
                <a  href="./index.html"
                    class="nav-item border-dark rounded d-flex flex-row align-items-center py-2 px-3 gap-3 fs-cateory w-100 none-link">
                    <i class="bi bi-house-fill"></i>
                    <p class="">Home</p>
                </a>
                <a href="#"
                    class="nav-item border-dark rounded d-flex flex-row align-items-center py-2 px-3 gap-3 fs-cateory w-100 none-link">
                    <i class="bi bi-joystick"></i>
                    <p class="none-link" >List Game</p>
                </a>
                <a href="./favorites.html"
                    class="nav-item border-dark rounded d-flex flex-row align-items-center py-2 px-3 gap-3 fs-cateory w-100 none-link">
                    <i class="bi bi-heart-fill"></i>
                    <p class="" >My Favorites</p>
                </a>
                <a href="./cart.html"
                    class="nav-item border-dark rounded d-flex flex-row align-items-center py-2 px-3 gap-3 fs-cateory w-100 none-link">
                    <i class="bi bi-joystick"></i>
                    <p class="" >My Cart</p>
                </a>
            </div>
        </div>
        <div class="brand d-flex flex-row gap-3 justify-content-center align-items-center">
            <div class="brand-item fs-6 d-flex justify-content-center align-items-center">
                <i class="bi bi-twitter-x"></i>
            </div>
            <div class="brand-item fs-5 d-flex justify-content-center align-items-center">
                <i class="bi bi-meta"></i>
            </div>
            <div class="brand-item fs-5 d-flex justify-content-center align-items-center">
                <i class="bi bi-youtube"></i>
            </div>
            <div class="brand-item fs-6 d-flex justify-content-center align-items-center bg-primary">
                <i class="bi bi-share-fill"></i>
            </div>
        </div>
    </nav>
    <div class="bg-box border border-dark box-shadow-white br-3 text-light py-2 px-3 w-78 d-flex flex-column gap-3">
        <div class="heaven">
            <div class="navbar d-flex flex-row align-items-center">
                <div>
                    <i class="bi bi-sliders fs-5"></i>
                </div>
                <div class="d-flex flex-row gap-3">
                    <a href="./favorites.html" class="box-shadow-white w-32 rounded d-flex align-items-center item-user none-link">
                        <i class="bi bi-heart-fill fs-6"></i>
                        <div id="countHeart" class="count-item bg-primary fs-8">0</div>
                    </a>
                    <a href="./cart.html" class="box-shadow-white w-32 rounded d-flex align-items-center item-user none-link">
                        <i class="bi bi-bag-fill fs-6"></i>
                        <div id="countCart" class="count-item bg-primary fs-8">0</div>
                    </a>
                    <div class="box-shadow-white rounded user px-3 none-link" id="userProfile">
                        <img class="image" src="../images/placeholder.jpg" alt="">
                        <div class="profile">
                            <a href="./login.html" id="name" class="fs-7 none-link">Đăng nhập</a>
                            <div class="fs-7">View Profile</div>
                        </div>
                        <div id="dropdown" class="dropdown-content">
                            <a href="#" id="logout">Log-out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="under pb-3">
            <div class="heading d-flex flex-row justify-content-between align-items-center">
                <p id="title" class="titel fs-5 fw-bolder">LIST GAME</p>
                <a href="" class="none-link">View More Games -></a>
            </div>
            <div class="listGame row pt-2 px-3 gap-4">
                
            </div>
        </div>
    </div>

    <script type="module" src="./js/page.js"></script>
    <script>
        document.getElementById('userProfile').addEventListener('click', function() {
            document.getElementById('dropdown').classList.toggle('show');
        });

        // Đăng xuất
        document.getElementById('logout').addEventListener('click', function() {
            localStorage.removeItem('accountLogin'); // Xóa thông tin đăng nhập
            window.location.href = './login.html'; // Điều hướng về trang đăng nhập
        });

        // Đóng dropdown khi nhấp ra ngoài
        window.onclick = function(event) {
            if (!event.target.matches('.user, .user *')) {
                var dropdowns = document.getElementsByClassName('dropdown-content');
                for (var i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
</body>


</html>